# Byte-compiled / optimized / DLL files
__pycache__/
.ipynb_checkpoints/
cache/
bug_testing/
evaluation/
local_*/
api_keys.csv/
od_pair_data/
demonstration/
cache/
graph_sets/
example/
parameter_data/
experiment_routes.py
t_turn_tests.py
test.py
testing.py
azimuth_tests.py
chromedriver
*.log
ohno/
ohno.py
visual_*
*.html
chromedriver
experiment_routes/
bug_testing/
.mypy_cache/
# performance data
street_network_performance.json
route_analysis_performance.json
alignment_performance.json
path_search_performance.json
2025-04-small/
2025-04-small_B/
2025-03-small/
visual_evaluation.ipynb

.profile_view.py
.idea/
.vscode/
*.prof
